.main-container {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.main-container > div {
  display: flex;
  flex: auto;
}

.div-cell {
  border: 1px solid blue;
  box-sizing: border-box;
  flex: auto;
}