.main-container {
  width: 750px;
  height: 750px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.main-container > div {
  display: flex;
  flex: auto;
}

.div-cell {
  box-sizing: border-box;
  flex: auto;
}